[Unit]
Description=Monthly renewal of Linkmoth TLS server certificate

[Timer]
OnCalendar=monthly
RandomizedDelaySec=1d
Persistent=true

[Install]
WantedBy=timers.target
